In [109]:
def greet():
    print("Hello Satyam!")

greet()

Hello Satyam!

In [110]:
def add(a, b):
    print(a + b)
add(5,7)

12

In [111]:
def multiply(a, b):
    return a * b

result = multiply(4, 6)
print(result)

24

In [112]:
def welcome(name="Guest"):
    print("Welcome", name)

welcome()         
welcome("Satyam")

Welcome Guest
Welcome Satyam

In [113]:
def calc(a, b):
    return a + b, a * b

sum_val, mul_val = calc(3, 5)
print(sum_val, mul_val)

8 15

In [114]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [115]:
fruits = ["apple", "banana", "mango"]
for x in fruits:
    print(x)

apple
banana
mango

In [116]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [117]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [118]:
fruits = ["apple","banana","mango"]
print(fruits)

['apple', 'banana', 'mango']

In [119]:
type(fruits)

list

In [120]:
fruits.append('grapes')

In [121]:
print(fruits)

['apple', 'banana', 'mango', 'grapes']

In [122]:
fruits[0:3]

['apple', 'banana', 'mango']

In [123]:
fruits.remove('mango')

In [124]:
print(fruits)

['apple', 'banana', 'grapes']

In [125]:
my_tuple = (10, "apple", 3.14)
print(my_tuple)

(10, 'apple', 3.14)

In [126]:
student = {
    "name": "Satyam",
    "age": 27,
    "course": "B.Ed"
}

print(student)

{'name': 'Satyam', 'age': 27, 'course': 'B.Ed'}

In [127]:
print(student["name"])

Satyam

In [128]:
student["grade"] = "A"
print(student)

{'name': 'Satyam', 'age': 27, 'course': 'B.Ed', 'grade': 'A'}

In [129]:
my_number = 33

In [130]:
if my_number % 2 == 0:
    print('The given number {} is even.'.format(my_number))
else:
    print('The given number {} is odd.'.format(my_number))

The given number 33 is odd.

In [131]:
my_number = 32

In [132]:
if my_number % 2 == 0:
    print('The given number {} is even.'.format(my_number))
else:
    print('The given number {} is odd.'.format(my_number))

The given number 32 is even.

In [148]:
def sum(a,b):
    return(a+b)
sum(5,6)

11

In [ ]:
[1,23,4,5]
33

In [149]:
sum(6,7)

13

In [150]:
my_number = [1,23,4,5]
total = 0

for x in my_number:
   total = x+total

In [153]:
print(total)

33

In [152]:
i= 0
total = 0
while i < len(my_number):
    total = total+ my_number[i]
    i= i+1

In [156]:
my_list = [20,10,12,11]
toatal = 0

for x in my_list:
    total = x+total

In [157]:
print(total)

86

In [161]:
my_integer = [3,9,6,4,2,5,11,12,14,19]
total = 0

for x in my_integer:
    total = x+ abc

NameError: name 'abc' is not defined

In [159]:
print(total)

85

In [174]:
def add_items(items):
    total=0
    for x in items:
        total = x+ total 
    return total

In [167]:
items = [3,6,7,8]

In [172]:
add_items(items)

3

In [175]:
add_items(my_integer)

85

In [176]:
add_items(my_list)

53

In [177]:
add_items(my_number)

33

In [178]:
add_items([3,4,5,9])

21